node_modules
bower_components
release
vendor
.idea
*.log
includes/classes/Dependencies/*/Tests/
includes/classes/Dependencies/*/phpunit.xml.dist

# Project Files


# Editors
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini
*.js.map
*.css.map
