.powered-cache-settings-page  .nav-tab:first-child{
	margin-left:0!important;
}
.form-table th{
	width: 150px;
}
.cdn-zones label{
	display: block;
}

.powered-cache-left {
	float: left;
}

.powered-cache-right {
	float: right;
}

.powered-cache-clearfix{
	clear: both;
}

h2.powered-cache-settings-nav{
	padding: 0!important;
	margin:0 0 15px!important;
}

.powered-cache-extension {
	background: #fff;
	border: 1px solid #ccc;
	float: left;
	padding: 12px;
	position: relative;
	margin: 0 15px 15px 0;
	width: 330px;
	height: 310px;
}


.remove-cdn-item{
	cursor: pointer;
	vertical-align: middle;
}



.incompatible-plugin-list {
	/* overflow: hidden; */
	padding-left: 20px;
	list-style-type: disc;
}

.incompatible-plugin-list li{
	width: 300px;
	line-height: 25px;
}

#powered-cache-admin-page-wrapper{
	padding-top: 10px;
	min-width: 763px;
}



.need-upgrade {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #efefef;
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
	margin-left: -5px;
}

.need-upgrade span.upgrade-msg {
	height: 50px;
	font-size: 1.4em;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	background-color: #000;
	position: relative;
	top: 50%;
}

.extension-upgrade-msg{
	color: #ba2420;
}

a.upgrade-now {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	line-height: 26px;
	height: 28px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f3433e;
	color: #fff;
}


.get-premium {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	padding: 10px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.get-premium span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.get-premium span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.get-premium:hover span {
	padding-right: 25px;
	color: #fff;
}

.get-premium:hover span:after {
	opacity: 1;
	right: 0;
}

.get-premium-small {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	padding: 6px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 3px;
}

.get-premium-small span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.8s;
}

.get-premium-small span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.8s;
}

.get-premium-small:hover span {
	padding-right: 10px;
	color: #fff;
}

.get-premium-small:hover span:after {
	opacity: 1;
	right: 0;
}



.premium-benefits {
	font-size: 16px;
	line-height: 30px;
}


.premium-benefits .dashicons{
	font-size: 30px;
	padding-right:6px;
	color: #006505;
}

#powered-cache-support-general-info{
	padding:10px;
	font-size: 16px;
}

.powered-cache-sidebar-title{
	padding: 0!important;
	margin: 0!important;
}

.powered-cache-sidebar-icon {
	font-size: 30px;
	vertical-align: middle;
	display: inline;
	padding: 5px;
	color: #ba2420;
}

/** Notice dismiss for the early WP versions */
.notice-dismiss {
	position: absolute;
	top: 0;
	right: 1px;
	border: none;
	margin: 0;
	padding: 9px;
	background: none;
	color: #b4b9be;
	cursor: pointer;
}

.notice-dismiss:hover:before,
.notice-dismiss:active:before,
.notice-dismiss:focus:before {
	color: #c00;
}

.notice-dismiss:focus {
	outline: none;
	-webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
	box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, .8);
}

.ie8 .notice-dismiss:focus {
	outline: 1px solid #5b9dd9;
}
/* notice dismiss
--------------------------------------------- */
